
button{
    color: rgb(0, 0, 0);
    margin-right: 30px;
}
.spacer{
    flex: 1 1 auto;
} 

nav ul li {
    float: left;
    list-style: none;
    margin: 5px;
}
table {
    width: 100%;
}
button{
  margin-right: 30px;
} 
.spacer{
  flex: 1 1 auto;
}
.tr-aling{
  text-align: right;
}
.tr2-aling{
  vertical-align: baseline;
}